# [[file:README.org::*Unblocked — and the host Chez is a formula (2026-08-30, later still)][Unblocked — and the host Chez is a formula (2026-08-30, later still):2]]
.DS_Store
.clj-kondo
.jolt
.lsp
.vscode
Brewfile.lock.json
# Unblocked — and the host Chez is a formula (2026-08-30, later still):2 ends here
